
/*----------------
container
-------------- */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 80px;
    margin-left: 20px;
}
.container{
    height: 550px;
    display: flex;
    margin-bottom: 150px;
    background-color: blue;
}
.main{
   
   height: 100px;
}
.football{
    width: 50%;
    padding-left: 2%;
}
.football img{
    width: 80%;
    margin-right: 20px;
    margin-top: 50px;
}
/* ---------------------------
button tage 
-------------------*/
.link-button{
    text-decoration: none;
   background-color: #E02C6D;;
    padding: 15px 30px;
    color: white;
    font-weight: 700;   
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}
.fas{
    margin-left: 10px;
}
/*-------------------
 players styel 
 -----------------*/
.players{
    margin-right: 7.5%;
    margin-left: 2.5%;
    padding: 20px;
}
.all-football{
   text-align: center;
}
.players img{
    width: 350px;
    text-align: center;
}
.players{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 50px;
    padding: 200px;
}
.all-football{
    border-radius: 20px;
    Box-shadow: gray 5px 10px 30px;
    background: #FFFFFF;
}
/*-----------------
 Paris Styel 
 -----------------*/
.experiences-tools h1{
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}
.experiences-item p{
    font-size: 15px;
}
.experiences-item{
    margin-right: 5.5%;
    margin-left: 1.5%;
    margin-top: 20px;
    box-shadow: 10px 10px 20px rgb(212, 199, 199);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.pragraph  p{
    text-align: center;
    font-size: 15px;
    padding-left: 30%;
    padding-right: 30%;
}
.paris-logo{
    display: flex;
}
.paris-logo img{
    width: 300px;  
}

/* -----------
Extra
--------------*/

.extra{
    height: 500px;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: white;
}
.maini p{
    font-size: 25px;
}
.maini{
    height: 100px;
    background-color: white;
}
.foot-ball{
    width: 50%;
    padding-left: 2%;
}
.foot-ball img{
    width: 100%;
    margin-right: 20px;
    margin-top: 50px;
}
.maini h2{
    font-size: 15px;
}
.maini p{
    font-size: 20px;
}
/*-----------------
Footer 
------------------*/
.fotter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 150px;
}
.high{
    text-align: center;
}
.high img{
    width: 50%;
    margin-right: 20px;
    margin-top: 0px;
}
.icons{
    text-align: center;
    margin-left: 50px;
}
.icons img{
    width: 50px;
    height: 40px;
    margin-top: 10px;
}
footer p{
    font-size: 20px;
}
/*-----------------
 Media Queries 
 -------------------*/


 /*----------------
 Mobial Devices 
 -------------*/
 @media only screen and (max-width:688px) {
     .container{
        
     }
     }
      .paris-logo, .maini{
         grid-template-columns: repeat(1, 1fr);
     }
      .icons, .high{
         flex-direction: column;
     }
    
 }
 /* tablet devices */
 @media only screen and (min-width:688px) and (max-width:992px) {
     }
     .icons, .high{
        grid-template-columns: repeat(1, 1fr);
     }
 }



